<section>
  <div class="container">
      <div class="hamster">
          <div class="hamster__header">
              <div class="hamster__header-progress">
                  <div class="hamster__header-progress-rank">
                      <div class="hamster__header-progress-rank-name">Grandmaster ></div>
                      <div class="hamster__header-progress-rank-level">9 / 11</div>
                  </div>
                  <div class="hamster__header-progress-line">
                      <span class="hamster__header-progress-line-inner"></span>
                  </div>
              </div>
              <div class="hamster__header-params">
                  <div class="hamster__header-params-exchange">
                      <img src="assets/img/binance-logo.png" alt="">
                  </div>
                  <div class="hamster__header-params-speed">
                      <div class="hamster__header-params-speed-title">Profit par heure</div>
                      <div class="hamster__header-params-speed-value">
                          <div class="hamster__header-params-speed-value-coin">
                              <img src="assets/img/coin.png" alt="">
                          </div>
                          <div class="hamster__header-params-speed-value-quant">+1,41M</div>
                          <div class="hamster__header-params-speed-value-info">i</div>
                      </div>
                  </div>
                  <div class="hamster__header-params-settings">
                      <img src="assets/img/gear.png" alt="">
                  </div>
              </div>
          </div>
          <div class="hamster__game">
              <div class="hamster__goals">
                  <div class="hamster__goals-item">
                      <div class="hamster__goals-item-point"></div>
                      <div class="hamster__goals-item-content">
                          <div class="hamster__goals-item-content-top">
                              <div class="hamster__goals-item-image">
                                  <img src="assets/img/daily-reward.png" alt="">
                              </div>
                              <div class="hamster__goals-item-name">
                                  Recompense quotidienne
                              </div>
                          </div>
                          <div class="hamster__goals-item-content-bottom">
                              <div class="hamster__goals-item-time">
                                  06:51
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="hamster__goals-item">
                      <div class="hamster__goals-item-point"></div>
                      <div class="hamster__goals-item-content">
                          <div class="hamster__goals-item-content-top">
                              <div class="hamster__goals-item-image">
                                  <img src="assets/img/code.png" alt="">
                              </div>
                              <div class="hamster__goals-item-name">
                                  Chiffre quotidien
                              </div>
                          </div>
                          <div class="hamster__goals-item-content-bottom">
                              <div class="hamster__goals-item-time">
                                  01:51
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="hamster__goals-item">
                      <div class="hamster__goals-item-point"></div>
                      <div class="hamster__goals-item-content">
                          <div class="hamster__goals-item-content-top">
                              <div class="hamster__goals-item-image">
                                  <img src="assets/img/combo.png" alt="">
                              </div>
                              <div class="hamster__goals-item-name">
                                  Combot quotidienne
                              </div>
                          </div>
                          <div class="hamster__goals-item-content-bottom">
                              <div class="hamster__goals-item-time">
                                  18:51
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <app-avatar></app-avatar>
              <div class="hamster__tabs">
                  <div class="hamster__tabs-item">
                      <img class="hamster__tabs-img" src="assets/img/binance-logo.png" alt="">
                      <div class="hamster__tabs-name">Iavo</div>
                  </div>
                  <div class="hamster__tabs-item">
                      <img class="hamster__tabs-img" src="assets/img/pickaxe.png" alt="">
                      <div class="hamster__tabs-name">Mine</div>
                  </div>
                  <div class="hamster__tabs-item">
                      <img class="hamster__tabs-img" src="assets/img/friends.png" alt="">
                      <div class="hamster__tabs-name">Friends</div>
                  </div>
                  <div class="hamster__tabs-item">
                      <img class="hamster__tabs-img" src="assets/img/earn.png" alt="">
                      <div class="hamster__tabs-name">Earn</div>
                  </div>
                  <div class="hamster__tabs-item">
                      <img class="hamster__tabs-img" src="assets/img/airdrop.png" alt="">
                      <div class="hamster__tabs-name">Airdrop</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
